{{!-- <section>
  <h2>About this blog</h2>
  <p>
    This is an application where you can share your thoughts, ideasand 
    insights about technology.
    Wether you are a seasoned developer or a tech enthusiast, this 
    blog is for you.
  </p>
  <p>
    Here, you can create new posts, comment on existing ones, and 
    engage in meaningful discussions with the community. Feel free 
    to explore and share your knowledge!
  </p>
</section> --}}
{{#each blog as |blogpost|}}
<div>
  <div>
    <h2>
      <a href="/blogs/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date blogpost.date_created}}</p>
  </div>
</div>

<div class="d-flex justify-content=center mt-5">
  <button type="submit" class="btn btn-long-fancy">
    <a class="link" href="/dashboard">Create a New Post</a>
  </button>
</div>
{{/each}}