<div class="container mt-4" style="color: rgba(36, 31, 31, 0.805)">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-left">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-control" type="text" id="email-login" style="background-color: rgb(89, 145, 158);">
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-control" type="password" id="password-login" style="background-color: rgb(89, 145, 158);">
        </div>
      </form>
    </div>

{{format_amount amount}}
    <div class="col-md-4">
      <h2 class="text-left">Signup</h2>
      <form class="form singup-form">
        <div class="form-group">
          <label for="name-singup">name:</label>
          <input class="form-control" type="text" id="name-singup" style="background-color: rgb(89, 145, 158);">
        </div>
        <div class="form-group">
          <label for="email-singup">email:</label>
          <input class="form-control" type="text" id="email-singup" style="background-color: rgb(89, 145, 158);">
        </div>
        <div class="form-group">
          <label for="password-singup">password:</label>
          <input class="form-control" type="text" id="password-singup" style="background-color: rgb(89, 145, 158);">
        </div>
        <div class="form-group text left">
          <button class="btn btn-primary" type="submit">SignUp</button>
        </div>
      </form>
    </div>

  </div>
</div>

<script src="./js/login.js" ></script>
{{!-- check the path later. --}}