* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(-45deg, #939191, #638387, #837963, #a4a184);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  padding: 20px;
  background-color: #13293d;
  text-align: center;
  color: rgba(241, 237, 237, 0.896);
}

nav {
  display: flex;
  background-color:  #d8a47f;
  justify-content: space-evenly;
}

.nav-link, .nav-button {
  border: 2px solid #000;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  background-color: #b07860;
  transition: all 0.3s ease;
  margin: 5px;
}

.nav-link:hover, .nav-button:hover {
  background-color: #f2f2f2;
  color: #000;
  transform: scale(1.1);
  z-index: 2;
}

.btn-long-fancy {
  width: 100%;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #b07860;
  color: #0f0101;
  transition: all 0.3 ease;
}

.btn-long-fancy:hover {
  background-color: #064073;
  color:#fff;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
}

.textarea-container,
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-comment-form {
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-comment-form textarea {
  width: 50%;
  margin: 0 auto;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.new-comment-form button {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.new-comment-form button:hover {
  background-color: #002aff;
  cursor: pointer;
}

.comment-box {
  border: 1px solid #0f0c0c;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 10px auto;
}

.comment-box p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.blogpost-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogpost-box {
  width: 50%; /* Set the width to 50% of the parent container */
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #021b07;
  border-radius: 5px;
  background-color: #051205;
  color: #638387;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blogpost-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blogpost-box p {
  font-size: 16px;
  line-height: 1.5;
}
